### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# Determine total players
total_players = len(purchase_data["SN"].unique())
total_players_df = pd.DataFrame({"Total Players":[total_players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Number of unique items
unique_items = len(purchase_data["Item ID"].unique())

# Average purchase price
average_price = purchase_data["Price"].mean()

# Total number of purchases
total_purchases = purchase_data["Purchase ID"].count()

# Total revenue
total_revenue = purchase_data["Price"].sum()

# Create dataframe to store information
Purchasing_Analysis_df = pd.DataFrame({"Number of Unique Items": [unique_items], "Average Price": average_price, "Number of Purchases": total_purchases, "Total Revenue": total_revenue})

# Data formatting
Purchasing_Analysis_df["Average Price"] = Purchasing_Analysis_df["Average Price"].map("${:.2f}".format)
Purchasing_Analysis_df["Total Revenue"] = Purchasing_Analysis_df["Total Revenue"].map("${:,.2f}".format)

Purchasing_Analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Group data by gender
gender_group = purchase_data.groupby("Gender")

# Count SN by gender
total_per_gender = gender_group.nunique()["SN"]

# Percent count by gender
total_percent_per_gender = total_per_gender/total_players *100

# Create dataframe to store information
gender_demographics_df = pd.DataFrame({"Percentage of Players": total_percent_per_gender, "Total Count": total_per_gender})

# Data formatting
gender_demographics_df.sort_values(["Total Count"], ascending=False).style.format({"Percentage of Players":"{:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Use gender_group to determine the following

# Determine the purchase count per gender
purchase_count = gender_group["Purchase ID"].count()

# Average price per 
gender_avg_purchase = gender_group["Price"].mean()

# Average purchase total by gender
gender_avg_total = gender_group["Price"].sum()

# Average purchase total by gender and purchase 
per_person_purchase_avg = gender_avg_total/total_per_gender

# Create dataframe to store information
Gender_Purchasing_Analysis_df = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": gender_avg_purchase, "Total Purchase Value": gender_avg_total, "Average Total Purchase Per Person": per_person_purchase_avg})

# Formatting
Gender_Purchasing_Analysis_df.style.format({"Total Purchase Value":"${:,.2f}", "Average Purchase Price":"${:,.2f}", "Average Total Purchase Per Person":"${:,.2f}"})

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Create bins
age_bin = [0, 9.90, 14.90, 19.90, 24.9, 29.9, 34.9, 39.9, 999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Sort into bins
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bin, labels = group_names)

# group by age
groupby_age = purchase_data.groupby("Age Group")

# Calculate count by age group
count_age = groupby_age["SN"].nunique()

# Calculate Percentage by age group
percentage_age = (count_age/total_players) * 100

# Create dataframe to store information
Age_Demographics_df = pd.DataFrame({"Percentage of Players":percentage_age, "Total Count": count_age})

# Formatting
Age_Demographics_df.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Use bins from above for by age below

# Purchase Count
purchase_count_age = groupby_age["Purchase ID"].count()

# Average purchase price
average_price_age = groupby_age["Price"].mean()

# Total purchase value by age
total_purchase_age = groupby_age["Price"].sum()

# Average purchase per person by age
average_purchase_person__age = total_purchase_age/count_age

# Create data frame to store information
Purchasing_Analysis_Age_df = pd.DataFrame({"Purchase Count":purchase_count_age, "Average Purchase Price": average_price_age, "Total Purchase Value": total_purchase_age, "Average Total Purchase Per Person": average_purchase_person__age})

# Formatting
Purchasing_Analysis_Age_df.style.format({"Average Purchase Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}", "Average Total Purchase Per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# Group by screenname
top_spenders = purchase_data.groupby("SN")

# Total purchases by screenname
spender_purchase_count = top_spenders["Purchase ID"].count()

# Average purchase by screenname
spender_average_purchase_price = top_spenders["Price"].mean()

# Purcahse total by spender
spender_purchase_total = top_spenders["Price"].sum()

# Create dataframe to store information
Top_Spenders_df = pd.DataFrame({"Purchase Count": spender_purchase_count, "Average Purchase Price": spender_average_purchase_price, "Total Purchase Value": spender_purchase_total})

# Sort total purchase in descending order - top 5
top5_spenders = Top_Spenders_df.sort_values(["Total Purchase Value"], ascending=False).head()

# Formatting
top5_spenders.style.format({"Average Purchase Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# Retrieve item id, item name, and item price columns
items_retrieved = purchase_data[["Item ID", "Item Name", "Price"]]

#  Group item data by item id and item name
items_grouped = items_retrieved.groupby(["Item ID", "Item Name"])

# Purchase count per item
item_purchase_count = items_grouped["Price"].count()

# Total purchase value
item_purchase_value = (items_grouped["Price"].sum())

# Item price
price_per_item = item_purchase_value/item_purchase_count

# Create Dataframe to store information
Most_Popular_Items_df = pd.DataFrame({"Purchase Count": item_purchase_count, "Item Price": price_per_item, "Total Purchase Value": item_purchase_value})

# Sort by purchase count in descending order
Most_Popular_Items_Formatted_df = Most_Popular_Items_df.sort_values(["Purchase Count"], ascending=False).head()

# Formatting
Most_Popular_Items_Formatted_df.style.format({"Item Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
# sorty by purchase value
Most_Popular_Items_Formatted_df = Most_Popular_Items_df.sort_values(["Total Purchase Value"], ascending=False).head()

# Formatting
Most_Popular_Items_Formatted_df.style.format({"Item Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})