### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
# Calculate the total number of schools 
schools_total = school_data["school_name"].count()
schools_total

# Calculate the total number of students
students_total = student_data["student_name"].count()
students_total

# Calculate the total Budget
budget_total = school_data["budget"].sum()
budget_total

# Calculate the average math score
math_average = student_data[("math_score")].mean()
math_average

# Calculate the average reading score
reading_average = student_data[("reading_score")].mean()
reading_average

# Calculate the percentage of students with a passing math score (70 or greater)
percent_passing_math = (school_data_complete["math_score"]>70).sum() / school_data_complete["math_score"].count()* 100
percent_passing_math

# Calculate the percentage of students wwith a passing reading score (70 or greater)
percent_passing_reading = (school_data_complete["reading_score"]>70).sum() / school_data_complete["reading_score"].count()*100
percent_passing_reading

# Calculate the percentage of students who passed math and reading (% Overall Passing)
percent_overall = student_data[(student_data['math_score'] >= 70) & (student_data['reading_score'] >= 70)]['student_name'].count()/students_total * 100

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
# Create a dataframe for distric summary
District_Summary = pd.DataFrame({"Total Schools":[schools_total], "Total Students":[students_total], "Total Budget":[budget_total], "Average Math Score":[math_average], "Reading Average":[reading_average], "% Passing Math":[percent_passing_math], "% Passing Reading":[percent_passing_reading], "% Overall Passing": [percent_overall]})
District_Summary

,Total Schools,Total Students,Total Budget,Average Math Score,Reading Average,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,72.392137,82.971662,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [4]:
# School type and name
school_types = school_data.set_index(['school_name'])['type']

# Total students
students_per_school = school_data_complete.groupby('school_name')['Student ID'].count()

# Total school budget
school_budget = school_data.set_index('school_name')['budget']

# Budget per student
student_budget = school_data.set_index('school_name')['budget']/school_data.set_index('school_name')['size']

# Average math score
avg_math = school_data_complete.groupby('school_name')['math_score'].mean()

# Average reading score
avg_reading = school_data_complete.groupby('school_name')['reading_score'].mean()

# % passing math
passing_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count()/students_per_school*100

# % passing reading
passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/students_per_school*100

# % overall passing
passing_overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('school_name')['Student ID'].count()/students_per_school*100

In [5]:
# Create dataframe for school summary
School_Summery_df = pd.DataFrame({"School Type":school_types, "Total Students":students_per_school, "Total School Budget":school_budget,"Per Student Budget":student_budget ,"Average Math Score" :avg_math,"Average Reading Score":avg_reading,"% Passing Math":passing_math, "% Passing Reading":passing_reading, "% Overall Passing":passing_overall})

School_Summery_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

In [6]:
# sort by overall passing and then display only top 5
Top_Performing_Schools_df = School_Summery_df.sort_values(["% Overall Passing" ], ascending=False)
Top_Performing_Schools_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [7]:
Bottom_Performing_Schools_df = Top_Performing_Schools_df.tail()
Bottom_Performing_Schools_df = Bottom_Performing_Schools_df.sort_values('% Overall Passing')
Bottom_Performing_Schools_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [8]:
# Creating series per grade of average math score
math_9th = student_data.loc[student_data["grade"] == "9th"].groupby(["school_name"])['math_score'].mean()
math_10th = student_data.loc[student_data["grade"] == "10th"].groupby(["school_name"])['math_score'].mean()
math_11th = student_data.loc[student_data["grade"] == "11th"].groupby(["school_name"])['math_score'].mean()
math_12th = student_data.loc[student_data["grade"] == "12th"].groupby(["school_name"])['math_score'].mean()

In [9]:
# Create dataframe to holf this infromation
Math_Average_byGrade_df = pd.DataFrame({"9th":math_9th, "10th":math_10th, "11th":math_11th, "12th":math_12th})
Math_Average_byGrade_df

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [10]:
# Creating series per grade of average math score
reading_9th = student_data.loc[student_data["grade"] == "9th"].groupby(["school_name"])['reading_score'].mean()
reading_10th = student_data.loc[student_data["grade"] == "10th"].groupby(["school_name"])['reading_score'].mean()
reading_11th = student_data.loc[student_data["grade"] == "11th"].groupby(["school_name"])['reading_score'].mean()
reading_12th = student_data.loc[student_data["grade"] == "12th"].groupby(["school_name"])['reading_score'].mean()

In [11]:
# Create dataframe to holf this infromation
Reading_Average_byGrade_df = pd.DataFrame({"9th":reading_9th, "10th":reading_10th, "11th":reading_11th, "12th":reading_12th})
Reading_Average_byGrade_df

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [12]:
# Create Bins and layout
bins = [0, 584, 629, 645, 675]
group_names = ["<$584", "$585-629", "$630-644", "$645-675"]

School_Summery_df["Spending Ranges (Per Student)"]=pd.cut(School_Summery_df["Total School Budget"]/School_Summery_df["Total Students"],bins , labels=group_names)

#drop unwanted columns
scores_by_school = School_Summery_df .drop(columns=["Total Students", "Total School Budget","School Type", "Per Student Budget"])

# Group by spending
by_spending =scores_by_school.groupby(["Spending Ranges (Per Student)"])
by_spending.mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$584,83.455399,83.933814,93.460096,96.610877,90.369459
$585-629,81.899826,83.155286,87.133538,92.718205,81.418596
$630-644,78.518855,81.624473,73.484209,84.391793,62.857656
$645-675,76.997210,81.027843,66.164813,81.133951,53.526855

## Scores by School Size

* Perform the same operations as above, based on school size.

In [13]:
# Crease bins
school_bins = [0, 1000, 2000, 5000]
group_name = ["small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

scores_by_school["School Size"]=pd.cut(School_Summery_df["Total Students"],school_bins , labels=group_name)
scores_by_school.head()

# Group by school size
by_school_size = scores_by_school.groupby(['School Size'])
by_school_size.mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

* Perform the same operations as above, based on school type

In [14]:
# drop unwanted columns
scores_by_school_type = School_Summery_df.drop(columns=["Total Students", "Total School Budget", "Per Student Budget"])
scores_by_school_type.head()

# group by school type
scores_by_type = scores_by_school_type.groupby(["School Type"])
scores_by_type.mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208